$mobileColLayout: 2;
$smallTabletColLayout: 3;
$tabletColLayout: 4;
$desktopColLayout: 5;

body {
    overflow-y: scroll; // Stopping the horizontal jump from scrolling to full-bleed.
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.app-container {
    padding-top: 37px;
}

.hero-section,
.grid {
    margin: auto;
    position: relative;
}

.hero-section {
    width: 100%;
    overflow: hidden;
}

.grid {
    max-width: 1280px;
}

.grid-item {
    position: relative;
    overflow: hidden;
    @include tile-width(1, $mobileColLayout);

    @include at-breakpoint(tablet) {
        @include tile-width(1, $tabletColLayout);
    }

    @include at-breakpoint(smallTablet) {
        @include tile-width(1, $smallTabletColLayout);
    }

    @include at-breakpoint(desktop) {
        @include tile-width(1, $desktopColLayout);
    }
}

.grid-item-large {
    height: 390px;

    @include tile-width(2, $mobileColLayout);

    @include at-breakpoint(tablet) {
        @include tile-width(2, $tabletColLayout);
    }

    @include at-breakpoint(smallTablet) {
        @include tile-width(2, $smallTabletColLayout);
    }

    @include at-breakpoint(desktop) {
        @include tile-width(2, $desktopColLayout);
    }
}

.grid-item-medium {
    height: 390px;
}

.grid-item-small {
    height: 195px;
}

.panel {
    position: absolute;
    bottom: 0;
    right: 10px;
    left: 50%;
    z-index: 9;
    width: 100%;
}

.create-resolution-ctn {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    top: 0px;
    opacity: 1;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    z-index: 4;
    @include transform(translateY(-10000px));
}

.create-view-ctn {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    top: 0px;
}


.btn {
    border: none;
    outline: none;
    width: 300px;
    height: 100px;
    background: lightBlue;
    @include box-shadow(2px 2px 2px rgba(pink, 1));
}