@mixin border-radius($value: 3px) {
	background-clip: padding-box;
	border-radius: $value;
}

@mixin box-sizing($value: inherit) {
	-moz-box-sizing: $value;
	-webkit-box-sizing: $value;
	box-sizing: $value;
}

@mixin font-face($fontFamily,$fontFile) {
    @font-face {
        font-family: $fontFamily;
        src: url('#{$fontPath}/#{$fontFile}-webfont.eot');
        src: url('#{$fontPath}/#{$fontFile}-webfont.eot?#iefix') format('embedded-opentype'),
             url('#{$fontPath}/#{$fontFile}-webfont.woff') format('woff'),
             url('#{$fontPath}/#{$fontFile}-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

@mixin stretch() {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
}

@mixin hypens($props...) {
    -webkit-hyphens: $props;
    -moz-hyphens: $props;
    -ms-hyphens: $props;
    -o-hyphens: $props;
    hyphens: $props;
}


// Layout Mixins
// --------------------------
@mixin grid-layout($width, $context, $margin:"", $last:"") {

    width: percentage($width / $context);
    display: inline;
    float: left;

    @if $last == omega {
        margin-right: 0;
        float: right;
    } @else {
        margin-right: percentage($margin / $context);
    }
}

@mixin columns($count, $gap) {
    -webkit-column-count:   $count;
    -webkit-column-gap:     $gap;
    -moz-column-count:      $count;
    -moz-column-gap:        $gap;
    column-count:           $count;
    column-gap:             $gap;
}

@mixin omega() {
    float: right;
    margin-right: 0;
}

// Retina assets
// -------------------------
@mixin image-2x($image, $width, $height, $pos:"") {
  @media (min--moz-device-pixel-ratio: 1.5),
         (-o-min-device-pixel-ratio: 3/2),
         (-webkit-min-device-pixel-ratio: 1.5),
         (min-device-pixel-ratio: 1.5),
         (min-resolution: 1.5dppx) {
        background-position: #{$pos};
        background-image: url($image);
        background-size: $width $height;
  }
}

//Set grid item widths
// -------------------------
@mixin tile-width($span-cols, $total-cols) {
    width: percentage($span-cols/$total-cols);
}


// Media Query Mixins
// -------------------------
@mixin at-breakpoint($point) {
	@if $point == phone {
		@media (min-width: 0) and (max-width: 512px) { @content; }
	}
    @if $point == phoneLandscape {
        @media (min-width: 0) and (max-width: 600px) and (orientation: landscape) { @content; }
    }
    @else if $point == smallTablet {
        @media (min-width: 513px) and (max-width: 768px) { @content; }
    }
    @else if $point == smallTabletUp {
        @media (min-width: 513px) { @content; }
    }
	@else if $point == tablet {
        @media (min-width: 768px) { @content; }
    }
    @else if $point == tabletLandscape {
        @media (min-width: 1024px) and (orientation: landscape) { @content; }
    }
    @else if $point == tabletLandscapeAndUp {
        @media (min-width: 1024px) { @content; }
    }
	@else if $point == desktop {
		@media (min-width: 1025px ) { @content; }
	}
    @else if $point == share {
        @media (min-width: 550px ) { @content; }
    }
    @else if $point == smallLandscape {
        @media (min-width: 480px ) { @content; }
    }
    @else if $point == tabletVH {
        @media (min-width: 768px) and (max-height: 700px) { @content; }
    }
}

//Animations
// -------------------------
@mixin animation($args...) {
    -webkit-animation: $args;
    animation: $args;
}

@mixin animationdelay($args...) {
    -moz-animation-delay: $args;
    -webkit-animation-delay: $args;
    -ms-animation-delay: $args;
    -o-animation-delay: $args;
    animation-delay: $args;
}


//  Create vendor-prefixed CSS in one go, e.g.
//  `@include vendor(border-radius, 4px);`
// -------------------------
@mixin vendor($property, $value...){
    -webkit-#{$property}:$value;
       -moz-#{$property}:$value;
        -ms-#{$property}:$value;
         -o-#{$property}:$value;
            #{$property}:$value;
}

//  Create CSS keyframe animations for all vendors in one go, e.g.:
//  .foo{
//    @include vendor(animation, shrink 3s);
//  }
//
//  @include keyframe(shrink){
//    from{
//      font-size:5em;
//    }
//  }
//
//  Courtesy of @integralist: twitter.com/integralist/status/260484115315437569
// -------------------------
@mixin keyframe ($animation-name){
    @-webkit-keyframes $animation-name{
        @content;
    }

    @keyframes $animation-name{
        @content;
    }
}

//  Force overly long spans of text to truncate, e.g.:
//  `@include truncate(100%);`
//  Where `$truncation-boundary` is a united measurement.
// -------------------------
@mixin truncate($truncation-boundary){
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin word-wrap() {
    -ms-word-break: break-all;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

@mixin user-select() {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;
}

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}