@include font-face('Futura Bold', futura/bold/futura-bold);
@include font-face('Futura Condensed Bold', futura-condensed/bold/futura-condensedbold);
@include font-face('Futura Condensed Light', futura-condensed/light/futura-condensedlight);
@include font-face('Smudger LET Regular', smudger-let/regular/smudger-let);
@include font-face('icomoon', icomoon/icomoon);
@include font-face('Tatiana', tatiana/tatiana);

$FuturaBold: 'Futura Bold', Arial, Helvetica, sans-serif;
$FuturaCondensedBold: 'Futura Condensed Bold', Arial, Helvetica, sans-serif;
$FuturaCondensedLight: 'Futura Condensed Light', Arial, Helvetica, sans-serif;
$SmudgerRegular: 'Smudger LET Regular', Times, Georgia, serif;
$iconFont: 'icomoon';
$tatiana: 'Tatiana', Times, Georgia, serif;
$Arial: Arial, Helvetica, sans-serif;


html {
    font: 100%/1.5 Arial, sans-serif;
}

body  {
    color: $primaryFontColor;
}

body,
input,
button  {
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
    font-family: $FuturaCondensedBold;
    font-weight: normal;
}

.giga{
    font-size: 8.75em;
}

.mega{
    font-size: 6.25em;
}

.kilo{
    font-size: 3.75em;
}

h1,
.alpha {
    font-size: 3.25em;
}

h2,
.beta {
    font-size: 1.75em;
    letter-spacing: -0.01em;
}

h3,
.gamma {
    font-size: 1.17em;
    letter-spacing: -0.01em;
}

h4,
.delta {
    font-size: 1em;
}

h5,
.epsilon {
    font-size: 0.83em;
}

h6,
.zeta {
    font-size: 0.75em;
}

small,
.milli {
    font-size: 0.75em;
}

p {
    margin: auto auto 1.5em;
}

p + p {
    text-indent: 1.5em;
    margin-top: -1.5em;
}

a,
a:visited {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

blockquote {
    font-style: italic;
}

blockquote:before {
    content: '\201C';
    @extend .inline-block;
    padding-right: .4em;
}