//Global Colours
$baseColor: #fff;

$primaryFontColor: #fff;
$secondaryFontColor: #445767;
$tertiaryFontColor: #09a2d1;

$shareOverlayBg: rgba(7,17,33,.85);

$shareColorFacebook: #748adc;
$shareColorTwitter: #29a8dd;
$shareColorGooglePlus: #d74824;
$shareColorPinterest: #e34541;

$boldBgColor: #071121;
$mainFooterBg: #0b162f;

$mainButtonLight: #ff3549;
$mainButtonDark: #dd112c;

//Paths
$fontPath: '../fonts';
$patternPath: '../img/patterns';
$mainSprite: '../img/main-sprite.png';
$mainSpriteHdpi: '../img/main-sprite-x2.png';
$preloaders: '../img/preloaders';
$buttonBg: '../img/button-bg';


$inputDots: '\e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600\e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600\e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600\e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600\e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600 \e600';


//Size dimensions
$hdpiBgSizeWidth: 157px;